<template name='notifications'>
  <div class="vf-header__notifications {{#if showDropdown}}active{{/if}}">
    <button class="vf-header__notifications__btn">
      <img src="/images/icon-notifications@3x.png" class="vf-header__notifications__btn__icon" alt="">
      <img src="/images/icon-notifications-hover@3x.png" class="vf-header__notifications__btn__icon" alt="">

      {{#if showBadge}}
        {{#if notificationsCount}}
        <span class="vf-header__notifications__btn__badge">{{notificationsCount}}</span>
        {{/if}}
      {{/if}}
    </button>

    <div class="vf-header__notifications__dropdown vf-dropdown vf-dropdown--right vf-dropdown--trigger-on-active">
      <div class="vf-header__notifications__top">
        <span class="vf-header__notifications__top__title">Notifications</span>
        <button class="vf-header__notifications__top__close"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="vf-header__notifications__top__mark-all">Mark All as Read</button>
      </div>

      <ul class="vf-header__notifications__list">
        {{#each notifications}}
        <li class="vf-header__notification {{#unless isRead}}vf-header__notification--unread{{/unless}}">
          <a href="{{villageSlug}}/post/{{postId}}">

            <a href='/{{userId}}' class="vf-header__notification__user">
              <img src="{{getUserImage userId}}" alt="{{getUserName userId}}">
            </a>

            <div class="vf-header__notification__content">
              <p class="vf-header__notification__text">
                {{message}}
              </p>
              <span class="vf-header__notification__details">
                <i class="vf-header__notification__icon vf-header__notification__icon--{{type}}"></i>
                <time datetime={{createdAt}} class="vf-header__notification__time">{{howLong}}</time>
              </span>
            </div>
          </a>
        </li>
        {{/each}}
      </ul>

    </div>
  </div>
</template>
