<template name='notifications'>
  <div class="header__notifications active">
      <div class="ntf-dropdown">
          <div class="ntf-dropdown__top">
              <div class="ntf-dropdown__back visible-mobile arrow-back"></div>
              <span class="ntf-dropdown__title hidden-mobile">Notifications</span>
              <span class="ntf-dropdown__mark-all color-main">Mark All as Read</span>
          </div>
          <div class="ntf-dropdown__list-wrapper">
              <ul class="ntf-dropdown__list">
                  <li class="ntf-dropdown__item ntf-dropdown__item--unread">
                      <div class="ntf-dropdown__item-inner">
                          <div class="ntf-dropdown__img-wrap">
                              <img src="images/villagers/posted-comment-4.png" alt="">
                          </div>
                          <div class="ntf-dropdown__caption">
                              <p class="ntf-dropdown__text">
                                  <a href="#" class="color-main">Rebecca Moore</a> and 23 others upvote your
                                  song: “Tame Impala - Cause I’m a Man”
                              </p>
                              <span class="ntf-dropdown__date color-secondary-text">
                                  <i class="ntf-dropdown__icon upvote-xs"></i>
                                  <span class="ntf-dropdown__hours-ago">2h ago</span>
                              </span>
                          </div>
                      </div>
                  </li>
                  <li class="ntf-dropdown__item ntf-dropdown__item--unread">
                      <div class="ntf-dropdown__item-inner">
                          <div class="ntf-dropdown__img-wrap">
                              <img src="images/villagers/posted-comment-4.png" alt="">
                          </div>
                          <div class="ntf-dropdown__caption">
                              <p class="ntf-dropdown__text">
                                  <a href="#" class="color-main">Rebecca Moore</a> commented your song: “Tame
                                  Impala - Cause I’m a Man”
                              </p>
                              <span class="ntf-dropdown__date color-secondary-text">
                                  <i class="ntf-dropdown__icon comment-xs"></i>
                                  <span class="ntf-dropdown__hours-ago">2h ago</span>
                              </span>
                          </div>
                      </div>
                  </li>
                  <li class="ntf-dropdown__item">
                      <div class="ntf-dropdown__item-inner">
                          <div class="ntf-dropdown__img-wrap">
                              <img src="images/villagers/posted-comment-1.png" alt="">
                          </div>
                          <div class="ntf-dropdown__caption">
                              <p class="ntf-dropdown__text">
                                  <a href="#" class="color-main">David Fisher</a> replied to your comment on
                                  song: “Tame Impala - Cause I’m a Man”
                              </p>
                              <span class="ntf-dropdown__date color-secondary-text">
                                  <i class="ntf-dropdown__icon reply-xs"></i>
                                  <span class="ntf-dropdown__hours-ago">3h ago</span>
                              </span>
                          </div>
                      </div>
                  </li>
                  <li class="ntf-dropdown__item ntf-dropdown__item--place">
                      <div class="ntf-dropdown__item-inner">
                          <div class="ntf-dropdown__img-wrap">
                              <div class="ntf-dropdown__place-icon">
                                  <div class="ntf-dropdown__place-icon__inner"></div>
                              </div>
                          </div>
                          <div class="ntf-dropdown__caption">
                              <p class="ntf-dropdown__text">
                                  Your song <a href="#" class="color-main">“Tame Impala - Cause I’m a Man” </a>
                                  was the most upvoted song of the week
                              </p>
                          </div>
                      </div>
                  </li>
                  <li class="ntf-dropdown__item">
                      <div class="ntf-dropdown__item-inner">
                          <div class="ntf-dropdown__img-wrap">
                              <img src="images/villagers/posted-comment-5.png" alt="">
                          </div>
                          <div class="ntf-dropdown__caption">
                              <p class="ntf-dropdown__text">
                                  Your Facebook friend <a href="#" class="color-main">Antony Salamon</a>
                                  just joined the Village
                              </p>
                              <span class="ntf-dropdown__date color-secondary-text">
                                  <i class="ntf-dropdown__icon friend-xs"></i>
                                  <span class="ntf-dropdown__hours-ago">3d ago</span>
                              </span>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</template>
