<template name='notifications'>
  <div class="header__notifications">
      <div class="ntf-dropdown">
          <div class="ntf-dropdown__top">
              <div class="ntf-dropdown__back visible-mobile arrow-back"></div>
              <span class="ntf-dropdown__title hidden-mobile">Notifications</span>
              <span class="ntf-dropdown__mark-all color-main">Mark All as Read</span>
          </div>
          <div class="ntf-dropdown__list-wrapper">
              <ul class="ntf-dropdown__list">

                {{#each notifications}}
                  <a href="{{villageSlug}}/post/{{postId}}">
                    <li class="ntf-dropdown__item ntf-dropdown__item{{isRead}}">
                        <div class="ntf-dropdown__item-inner">
                            <div class="ntf-dropdown__img-wrap">
                                <a href='/{{userId}}' ><img src="{{getUserImage userId}}" alt=""></a>
                            </div>
                            <div class="ntf-dropdown__caption">
                                <p class="ntf-dropdown__text">
                                    {{message}}
                                </p>
                                <span class="ntf-dropdown__date color-secondary-text">
                                    <i class="ntf-dropdown__icon {{type}}-xs"></i>
                                    <span class="ntf-dropdown__hours-ago">{{howLong}}</span>
                                </span>
                            </div>
                        </div>
                    </li>
                  </a>
                {{/each}}
                  <!-- <li class="ntf-dropdown__item ntf-dropdown__item((DASH DASH))place">
                      <div class="ntf-dropdown__item-inner">
                          <div class="ntf-dropdown__img-wrap">
                              <div class="ntf-dropdown__place-icon">
                                  <div class="ntf-dropdown__place-icon__inner"></div>
                              </div>
                          </div>
                          <div class="ntf-dropdown__caption">
                              <p class="ntf-dropdown__text">
                                  Your song <a href="#" class="color-main">“Tame Impala - Cause I’m a Man” </a>
                                  was the most upvoted song of the week
                              </p>
                          </div>
                      </div>
                  </li> -->
              </ul>
          </div>
      </div>
  </div>
</template>
