html {
  width: 100%;
}

body {
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}

.vf-loading-wrapper {
  transition: .2s ease .1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &.loaded {
    opacity: 1 !important;
  }
}
