footer {
  position: relative;
  padding: 2.8rem 0;
  border-top: 2px solid #e0eaeb;
  text-align: center;

  img {
    margin: 0 auto 2.8rem;
  }
}

.footer-navigation {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: auto;
  list-style-type: none;

  li {
    display: inline;
    padding: .7rem;
    font-size: 1.4rem;
    color: $color-text-dark;
    font-weight: 600;
    text-transform: uppercase;
    border-left: 1px solid #e0eaeb;
    border-right: 1px solid #e0eaeb;
    float: left;

    a {
      cursor: pointer;
      text-decoration: none;
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.footer-copyright {
  position: relative;
  font-size: 1.26rem;
  padding: 1.4rem 0;


  span {
    padding: 0 1.4rem;
    background: #fff;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #e0eaeb;
    bottom: 2.24rem;
    z-index: -1;
  }
}

.footer-mixpanel {
  img {
    margin: 1.4rem 0 0;
  }
}
