.get-village-modal {

  .vf-modal-content {
    padding-bottom: 0px;

    @media screen and (min-width: 768px) and (max-width: 1400px) {
      transform: translateY(-50%) scale(.8);
    }

    form {
      margin-top: 2rem;

      &.invalid {
        .invalid-email-message {
          opacity: 1;
        }
      }
      .vf-input-group {
        margin: auto;

        .vf-input {
          width: 30%;
        }
      }

      .invalid-email-message {
        margin: 1rem 0;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        transition: .2s ease;
      }
    }

    .slick-dots {
      left: 0;
    }

    @media screen and (min-width: 768px) {
      .selection-carousel-item {
        padding-bottom: 5rem;

        button {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-bottom: 1rem;
          transform: translateX(-50%);
        }
      }
    }

    @media screen and (max-width: 500px) {
      p {
        font-size: 0.8rem;
      }
      .selection-carousel-item {
        img {
          height: 4rem;
        }

        p {
          display: none;
        }

        button {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 500px) {
      padding-bottom: 1rem;

      .selection-carousel-item {
        margin: .2rem 1rem;
      }

      form {
        margin-top: .5rem;

        .invalid-email-message {
          display: none;
          margin-bottom: 0;
        }

        &.invalid {
          .invalid-email-message {
            display: block;
          }
        }
      }
    }
  }
}
