.hero-panel {
  position: relative;
  background-image: url(../../images/home-page/web_img_hero_area.png);
  background-size: cover;
  background-position: center;
  padding: 5.6rem 0;

  h1 {
    color: #fff;
    font-size: 3.4174rem;
    margin-top: 6.4rem;
  }

  p {
    color: #fff;
    font-size: 1.61rem;
  }

  .scroll-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  @media screen and (max-width: 600px) {
    padding: 2.8rem 0;
  }
}
