.main-navigation {
  .logo {
    img {
      height: 4.97rem;

      @media screen and (min-width: 992px) {
        transform: translateX(-50%);
      }
    }
  }

  .enter-village {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 992px) {
      transform: translate(50%, -50%);
    }
  }
}
