//Social media is too noisy for music discovery

.section-1 {
  padding-top: 8.4rem;

  .wide-img-right,
  .wide-img-left {
    position: relative;
    width: 100%;
    top: -2.8rem;

    @media screen and (max-width: 1300px ) {
      top: 0;
    }

    @media screen and (min-width: 92px) {
      width: 50vw;
    }
  }

  .wide-img-right {
    margin-bottom: 2.8rem;
  }

  .wide-img-left {
    float: right;
    margin-bottom: -2.8rem;

    @media screen and (max-width: 1300px ) {
      margin-bottom: 2.8rem;
    }
  }
}
