.villages-carousel {
  margin: 7rem auto 0;
  text-align: center;

  .slick-dots {
    bottom: -1.5rem;
  }

  @media screen and (max-width: 991px) {
    margin: 2.8rem auto 0;
  }

  @media screen and (min-width: 992px) {
    transform: translateX(-6.1%);

    .villages-carousel-item {
      opacity: 0;
    }

    @for $i from 0 through 9 {
      &.active-#{$i + 1} {

        .villages-carousel-links {
          a[data-item="#{$i + 1}"] {
            background-color: rgba(0,0,0,0.5);
            opacity: 1;

            &:after {
              border-left-color: rgba(0,0,0,0.5);
            }
          }
        }

        .villages-carousel-item:nth-child(#{$i + 1}) {
          z-index: 3;
          opacity: 1;
        }

        .villages-carousel-item:nth-child(#{$i}) {
          transform: scale(1.1) translateY(3.5rem);
          opacity: 0;
        }

        .villages-carousel-item:nth-child(#{$i + 2})) {
          transform: scale(.9) translateY(-3.5rem);
          opacity: .6;
          z-index: 2;
          pointer-events: none;

          img {
            filter: blur(2px);
          }
        }

        .villages-carousel-item:nth-child(#{$i + 3}) {
          transform: scale(.8) translateY(-7.2rem);
          opacity: .4;
          z-index: 1;
          pointer-events: none;

          img {
            filter: blur(2px);
          }
        }

        .villages-carousel-item:nth-child(n+#{$i + 4}) {
          transform: scale(.7) translateY(-9.8rem);
          opacity: 0;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .slick-dots {
      bottom: 0;
    }
  }
}

.villages-carousel-links {
  display: inline-block;
  vertical-align: middle;

  a {
    position: relative;
    display: inline-block;
    padding: .7vw .9vw;
    font-size: .8vw;
    letter-spacing: .14em;
    background-color: #0e1011;
    opacity: .2;
    color: #fff;
    text-decoration: none;
    margin: .5vw 1vw .5vw .5vw;
    text-align: center;
    line-height: .8vw;
    clear: both;
    transition: .2s ease;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 1.1vw solid transparent;
      border-bottom: 1.1vw solid transparent;
      transition: .2s ease;
    }

    &:hover, &:focus, &:active {
      opacity: .38;
    }
  }

  &.left {
    a {
      border-radius: 2.5rem 0 0 2.5rem;
      padding-right: 0;
      margin: .5vw 2vw .5vw .5vw;
      float: right;

      &:after {
        right: -2.1rem;
        border-left: 2.1rem solid #0e1011;
      }
    }
  }

  &.right {
    a {
      border-radius: 0 2.5rem 2.5rem 0;
      padding-left: 0;
      margin: .5vw .5vw .5vw 2vw;
      float: left;

      &:after {
        left: -2.1rem;
        border-right: 2.1rem solid #0e1011;
      }
    }
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.villages-carousel-items {
  position: relative;
  width: 95%;
  margin: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1100px) {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
  }

  @media screen and (min-width: 991px) and (max-width: 1100px){
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
}

.villages-carousel-item {
  border-radius: 0.6rem;
  width: 100%;
  outline: none !important;

  @media screen and (min-width: 992px) {
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: .2s ease;
    box-shadow: 0px 0.3rem 1.2rem 0 rgba(40, 50, 54, 0.12);
  }

  img {
    max-width: 100%;
    margin: auto;
    border-radius: 0.6rem;
  }

  &:first-child {
    position: relative !important;
  }

  &:hover {
    .villages-carousel-item-overlay {
      opacity: 1;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 1.4rem;


    .villages-carousel-item-overlay {
      display: none;
    }
  }

  .villages-carousel-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    border-radius: 0.5rem;
    transition: .2s ease;
  }

  .vf-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .villages-carousel-item-info {
    p {
      font-size: 1.96rem;
      text-align: center;
      margin: 1.4rem 0 0;
    }

    a {
      font-size: 1.54rem;
      display: block;
      color: $color-primary;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}
