html {
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  font-size: 10px !important;

  @media screen and (min-width: 992px) and (max-width: 1400px) {
    font-size: 8px !important;
  }
}

body {
  font-size: 1.4rem !important;
  font-family: 'Signika', sans-serif;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  background: $color-grey-light;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: $color-primary;

  &:visited {
    color: $color-primary;
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $color-primary-dark;
  }
}

hr {
  height: 0;
  min-width: 100%;
  border: 0;
  border-top: 1px solid $color-grey-light;
  margin: 1.5rem auto;
}
