.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: $color-primary;
}

.text-strong {
  color: $color-black-strong;
}

.text-muted {
  color: $color-grey-primary;
}

.hidden {
  display: none !important;
}
