// Colors
$color-primary: #ff7260;
$color-primary-dark: #d96152;

$color-black: #424545;
$color-black-strong: #2e2f2f;

$color-grey-primary: #c4cacf;
$color-grey-secondary: #c0c1c1;
$color-grey-light: #f4f6f8;

$color-overlay: #202d2d;


//Social icon colors
$color-social-youtube:  #cd201f;
$color-social-facebook: #3b5999;
$color-social-twitter: #55acee;
$color-social-linkedin: #0077b5;
$color-social-instagram: #262626;
$color-social-google-plus: #db4437;

//Sizing
$header-height: 60px;
