& {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: 0.05rem;
  color: $color-text-light;

  h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
    color: $color-text-dark;
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  }

  h1, h2, h3, h4 {
    margin: 1.2em 0 0.4em;
    font-weight: inherit;
    line-height: 1.2;
  }

  h1 {
    margin-top: 0;
    font-size: 3.4174rem;
  }

  h2 {
    margin-top: 0;
    font-size: 2.7342rem;
  }

  h3 {
    font-size: 2.182rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  a {
    color: $color-text-dark;
    text-decoration: underline;

    &:hover, &:focus, &:active {
      color: darken($color-text-dark, 10%);
    }
  }

  p {
    font-size: 1.4rem;
  }

  button {
    font-family: 'Montserrat', sans-serif;
  }

  input, textarea {
    font-family: 'Montserrat', sans-serif;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.2428rem;
    }

    h2 {
      font-size: 1.9936rem;
    }

    h3 {
      font-size: 1.7724rem;
    }

    h4 {
      font-size: 1.575rem;
    }
  }
}
