<template name='mobile_menu'>
  <div class="mobile-menu visible-mobile">
      <div class="mobile-menu__top">
          <a href="/" class="mobile-menu__logo"></a>
      </div>
      <ul class="mobile-menu__list">
          <li class="mobile-menu__item mobile-menu__item--playlist {{mobileActive}}">
              <a href="/">Playlist</a>
          </li>

          {{#if currentUser}}
            <li class="mobile-menu__item mobile-menu__item--post {{mobileActive}}">
              <a href="">Post</a>
            </li>
            <li class="mobile-menu__item mobile-menu__item--profile {{mobileActive}}">
                <a href="/{{currentUser._id}}">Profile</a>
            </li>
            <li class="mobile-menu__item mobile-menu__item--log-out {{mobileActive}}">
                <a href="">Log Out</a>
            </li>
          {{else}}
            <li class="mobile-menu__item mobile-menu__item--profile {{mobileActive}}" id="mobileSignIn">
                <a href="">Sign up</a>
            </li>
          {{/if}}
      </ul>
  </div>
</template>
