<!-- <template name='mobile_menu'>
  <div class="mobile-menu visible-mobile">
      <div class="mobile-menu__top">
          <a href="/all" class="mobile-menu__logo"></a>
      </div>
      <ul class="mobile-menu__list">
          <li class="mobile-menu__item mobile-menu__item--playlist">
              <a href="/all">Playlist</a>
          </li>

          {{#if currentUser}}
            <li class="mobile-menu__item mobile-menu__item--post">
              <a>Post</a>
            </li>
            <li class="mobile-menu__item mobile-menu__item--profile">
                <a href="/{{currentUser._id}}">Profile</a>
            </li>
            <li class="mobile-menu__item mobile-menu__item--log-out">
                <a href="">Log Out</a>
            </li>
          {{else}}
            <li class="mobile-menu__item mobile-menu__item--profile" id="mobileSignIn">
                <a href="">Sign up</a>
            </li>
          {{/if}}
      </ul>
  </div>
</template> -->
