.side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  padding-top: 76px;
  background-color: #333435;
  box-shadow: 0px 16px 48px 0 rgba(40, 43, 45, 0.3);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 10000;
}

.side-menu__villages {
  padding-top: 2.5rem;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  width: 200%;
  pointer-events: none;
}

.side-menu header {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.side-menu header.scrolled {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.side-menu__village {
  position: relative;
  width: 50%;
  border-left: 5px solid transparent;
  border-top: 1px solid rgba(0,0,0,0.1);
  pointer-events: auto;
}

.side-menu__village img {
  max-width: 250px;
  height: auto;
  opacity: .2;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.side-menu__village__new-songs {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  border-radius: 7px;
  background: #3d3e3f;
  text-align: center;
  width: 2rem;
  height: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header.side-menu__village {
  width: 100%;
  border-top: none;
}

header.side-menu__village img {
  max-width: 100%;
}

.side-menu__village:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.side-menu__village:hover {
  background: rgba(0,0,0,0.1);
}

.side-menu__village.active {
  background: rgba(0,0,0,0.1);
  border-left-color: #ff7260;
}

.side-menu__village:hover img,
.side-menu__village.active img {
  opacity: 1;
}

.side-menu__village__pop-over {
  position: absolute;
  width: 240px;
  top: 50%;
  left: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(3px, -50%, 0) scale(0);
          transform: translate3d(3px, -50%, 0) scale(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-bacface-visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.side-menu__village__pop-over::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #fff;
}

.side-menu__village__pop-over__name {
  text-transform: none;
  color: #ff7260;
  font-size: 1rem;
}

.side-menu__village__pop-over__description {
  margin-top: .5rem;
  font-weight: 300;
}

.side-menu__village__pop-over__new-songs {
  margin-top: .5rem;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #c4cacf;
  font-size: .8rem;
}

.side-menu__village__pop-over__new-songs span {
  color: #ff7260;
}

.side-menu__village:hover .side-menu__village__pop-over {
  -webkit-transform: translate3d(3px, -50%, 0) scale(1);
          transform: translate3d(3px, -50%, 0) scale(1);
  opacity: 1;
}

.side-menu__bottom {
  padding: 1rem;
  background: #333435;
  box-shadow: 0px -2px 6px 0 rgba(54, 59, 44, 0.12);
}

.side-menu__start-village {
  display: block;
  width: 100%;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .side-menu__start-village {
    display: none;
  }
}

/* Side menu profile */
.side-menu__profile {
  display: table;
}

.side-menu__profile__thumbnail {
  display: table-cell;
  vertical-align: middle;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  border: 2px solid #fff;
}
.side-menu__profile__details {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  padding-left: 1rem;
}

.side-menu__logout {
  display: block;
  color: #ff7260;
  font-size: .8rem;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .side-menu__profile {
    display: none;
  }
}

/* Side menu is active */
.side-menu-is-active .side-menu {
  -webkit-transform: translate(250px);
          transform: translate(250px);
}

.side-menu-is-active .main,
.side-menu-is-active .bottom-player {
  left: 250px;
  right: -250px;
}

@media screen and (max-width: 768px) {
  .side-menu-is-active .header .sr-top {
    left: 250px;
    right: -250px;
  }
}


@media screen and (min-width: 1800px) {
  .side-menu {
    width: 350px;
    left: -350px;
  }

  .side-menu ul li img {
    max-width: 80%;
  }

  /* Side menu is active */
  .side-menu-is-active .side-menu {
    -webkit-transform: translate(350px);
            transform: translate(350px);
  }

  .side-menu-is-active .main,
  .side-menu-is-active .bottom-player {
    left: 350px;
    right: -350px
  }
}
