<template name="community_area_villagers">
  <div class="vf-community-area__villagers-header">
    <span>Top villagers</span>
    <button>View All</button>
  </div>
  <div class="vf-community-area__villagers">
    <div class="vf-community-area__villager">
      <img src="http://placehold.it/100x100/7fe5e3/ffffff" alt="" class="vf-community-area__villager__thumbnail">
      <div class="vf-dropdown vf-dropdown--middle">
        <div class="vf-community-area__villager__image">
          <img src="http://placehold.it/100x100/7fe5e3/ffffff" alt="">
        </div>
        <span class="vf-community-area__villager__name">David Fisher</span>
        <p><span class="text-strong">86</span> <span class="text-muted">mutual upvotes</span></p>
        <p><span class="text-strong">912</span> <span class="text-muted">upvotes collected</span></p>
        <hr>
        <button class="vf-btn vf-btn--link vf-community-area__villager__view-profile">View Profile</button>
      </div>
    </div>
  </div>
</template>
