<template name='header_profile'>
  <div class="vf-header__profile">

    <img src="{{getUserImage currentUser._id}}" alt="{{getUserName currentUser._id}}" class="vf-header__profile__image">
    <span class="vf-header__profile__name">
      {{getUserName currentUser._id}}
      <i class="fa fa-caret-down arrow"></i>
    </span>

    <div class="vf-header__profile__dropdown vf-dropdown vf-dropdown--right vf-dropdown--trigger-on-hover">
      <a href="/profile/{{currentUser._id}}">
        <img src="{{getUserImage currentUser._id}}" alt="{{getUserName currentUser._id}}" class="vf-header__profile__image">
        <span class="vf-header__profile__name">
          {{getUserName currentUser._id}}
          <span>Villager # {{getUserVillagerNum currentUser._id}}</span>
        </span>
      </a>

      <ul class="vf-header__profile__stats">
        <li>{{postCount}} <span class="text-muted">songs posted</span></li>
        <li>{{getUpvotesNum currentUser._id}} <span class="text-muted">upvotes collected</span></li>
        <li>4 <span class="text-muted">villages joined</span> </li>
      </ul>

      <hr>
      
      <ul class="vf-header__profile__actions">
        <li><a href="/profile/{{currentUser._id}}">View Profile</a></li>
        {{#if isInRole 'admin'}}
        <li><a href="{{pathFor 'admin-fakeUsers'}}">Fake users</a></li>
        {{/if}}
        <li><a class="vf-header__feedback-btn">Submit Feedback</a></li>
        <li><a class="vf-header__log-out">Log Out</a></li>
      </ul>
    </div>
  </div>
</template>
