<template name="admin_body">

  <!--Reset-->
  <link rel="stylesheet" href="/css/reset.css">  
  <!--Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Signika:400,600,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!--Perfect scrollbar-->
  <link rel="stylesheet" href="/css/perfect-scrollbar.min.css">
  <!--General styles-->
  <link rel="stylesheet" href="/css/style.css">
  <!--Helper style classes-->
  <link rel="stylesheet" href="/css/helpers.css">
  <!--Media queries-->
  <link rel="stylesheet" href="/css/tablet.css">
  <link rel="stylesheet" href="/css/mobile.css">
  <link rel="stylesheet" href="/css/retina.css">
  <link rel="stylesheet" href="/css/popup.css">

  {{> Template.dynamic template=content}}
</template>
