<template name="app_body">

  <div class="wrapper">
    {{#if signUp}}
      <div class="onboarding-popup">
          <h3>Welcome to the <span class="onboarding-popup__color">Village Beta!</span></h3>
          <p>Here, you can discover, submit, and talk about music with fellow tastemakers.</p>
          <p>Click the login button below to join.</p>
          <br>
          <p>Big fat hugs,</p>
          <p>- Village Team</p>
          <a href="" class="onboarding-popup__button"><img src="images/popup/onboarding-facebook-icon.png" alt=""><span>Login with facebook</span></a>
      </div>
    {{/if}}

    {{#if guestAction}}
      <div class="onboarding-popup">
          <h3>You are not logged in!</h3>
          <p>Only members can participate. To join Village, just click below to log in:</p>
          <br>
          <a href="" class="onboarding-popup__button"><img src="images/popup/onboarding-facebook-icon.png" alt=""><span>Login with facebook</span></a>
      </div>
    {{/if}}

      {{> mobile_menu}}

      {{> header}}

      <div class="main">
        {{> Template.dynamic template=profile}}
        {{> sidebar}}
        <div class="container hidden-mobile container{{profilePadding}}">
            {{> content}}
        </div>
      </div>

      {{> mobile_content}}
      {{> bottom_player}}
      {{> now_playing_popup}}
      {{> sign_up}}

  </div>

  <!-- Soundcloud widget api for embed. Not ideal but will have to do for now -->
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
  <!-- <script src="lib/perfect-scrollbar.jquery.min.js"></script> -->
  <script src="js/main.js"></script>
  <script src="js/sc3.js"></script>
  <script src="js/mobile.js"></script>
  <!--<script src="js/popup.js"></script>-->

</template>
