<template name="app_body">

  <!--Reset-->
  <link rel="stylesheet" href="/css/reset.css">
  <!--Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Signika:400,600,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!--Perfect scrollbar-->
  <link rel="stylesheet" href="/css/perfect-scrollbar.min.css">
  <!--General styles-->
  <link rel="stylesheet" href="/css/style.css">
  <!--Helper style classes-->
  <link rel="stylesheet" href="/css/helpers.css">
  <!--Media queries-->
  <link rel="stylesheet" href="/css/tablet.css">
  <link rel="stylesheet" href="/css/mobile.css">
  <link rel="stylesheet" href="/css/retina.css">
  <link rel="stylesheet" href="/css/popup.css">

  <div class="wrapper">
      <div class="onboarding-popup {{#if signUp}}active{{/if}} {{#if guestAction}}active{{/if}}">
        <div class="onboarding-popup__overlay"></div>
        <div class="onboarding-popup__panel">
          <div class="onboarding-popup__header">
            {{#if signUp}}
            <h3>Welcome to the Village Beta!</h3>
            {{/if}}

            {{#if guestAction}}
            <h3>Sign in to join the Village!</h3>
            {{/if}}
          </div>
          <div class="onboarding-popup__content {{#if showTermsOrPolicy}}expanded {{showTermsOrPolicy}}{{/if}}">

            {{#if signUp}}
              {{#if village}}
                <p>{{village.name}} Village is a community playlist where your taste matters.</p>
              {{else}}
                <p>Village is one big playlist made up of community playlists where your taste matters.</p>
              {{/if}}
            <strong>Thanks for building it with us!</strong>
            {{/if}}

            {{#if guestAction}}
            <p>Just sign in to vote on the best music in all of the Villages.</p>
            {{/if}}

            <a href="" class="onboarding-popup__button"><img src="/images/popup/onboarding-facebook-icon.png" alt=""><span>Login with Facebook</span></a>
            <p><small>By signing up, you agree to our <a class="onboarding-popup__terms-link">Terms of Services</a> and <a class="onboarding-popup__policy-link">Privacy Policy</a>.</small></p>

            <div class="onboarding-popup__terms">
              {{> terms}}
            </div>

            <div class="onboarding-popup__policy">
              {{> policy}}
            </div>
          </div>
        </div>
      </div>

      {{> mobile_menu}}

      {{> header}}

      <div class="main">
        {{> Template.dynamic template=profile}}
        {{> sidebar}}
        <div class="container hidden-mobile container{{profilePadding}} {{#if bannerShown}}bannerPadding{{/if}}">
            {{> content}}
        </div>
      </div>

      {{> mobile_content}}
      {{> bottom_player}}
      {{> now_playing_popup}}
      {{> sign_up}}

  </div>

  <!-- Soundcloud widget api for embed. Not ideal but will have to do for now -->
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
  <!-- <script src="lib/perfect-scrollbar.jquery.min.js"></script> -->
  <script src="/js/main.js"></script>
  <script src="/js/sc3.js"></script>
  <script src="/js/mobile.js"></script>
  <!--<script src="js/popup.js"></script>-->

</template>
