<template name='tabs'>
  <div class="sr-top clearfix">
      <div data-time='day' class="sr-top__item timeFilter {{activeTime 'day'}}">
          <h4 data-time='day' class="sr-top__item-title">Day</h4>
      </div>
      <div data-time='week' class="sr-top__item timeFilter {{activeTime 'week'}}">
          <h4 data-time='week' class="sr-top__item-title">Week</h4>
      </div>
      <div data-time='year' class="sr-top__item timeFilter {{activeTime 'year'}}">
          <h4 data-time='year' class="sr-top__item-title">Year</h4>
      </div>
  </div>
</template>
