.vf-dropdown {
  position: absolute;
  display: none;
  top: 100%;
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  letter-spacing: 0.06rem;
  min-width: 15.5rem;
  box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity .2s ease .2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: default;


  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0.8rem) rotate(45deg);
    background: white;
    width: 1.5rem;
    height: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }

  &.active {
    display: block;
    opacity: 1;
  }

  // Dropdown arrow on the left
  &--left {
    left: 0;

    &:before {
      left: 2.7rem;
    }
  }

  // Dropdown arrow in the middle
  &--middle {
    left: 50%;
    transform: translateX(-50%);
  }

  // Dropdown arrow on the right
  &--right {
    right: 0;

    &:before {
      right: 2.7rem;
    }
  }

  hr {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}


//Dropdown triggers
*:hover > .vf-dropdown--trigger-on-hover {
  @extend .vf-dropdown.active;
}

*.active > .vf-dropdown--trigger-on-active {
  @extend .vf-dropdown.active;
}
