.vf-input-group {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  input {
    width: 100%;
  }
}

.vf-input-label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $color-primary;

  &--white {
    color: white;
  }
}

.vf-input {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid $color-grey-light;
  border-radius: 4px;
  box-shadow: none;
  resize: none;
  transition: .2s ease;
  @include placeholder-color($color-grey-primary);
}
