.vf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-overlay, 0.7);
  z-index: 1000000; //TODO Create proper z-index scale
  transform: scale(0);
  opacity: 0;
  transition: opacity .3s ease, transform 0s ease .3s;

  &.active {
    transform: scale(1);
    opacity: 1;
    transition: opacity .3s ease;
  }

  .vf-modal__panel {
    position: relative;
    width: auto;
    margin: 0 1rem;
    top: 50%;
    background: white;
    transform: translateY(-50%);
    border-radius: 0.4rem;
    box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;

    @media screen and (min-width: 560px) {
      margin: auto;
      width: 54rem;
    }

    @media screen and (max-width: 440px) {
      .vf-modal__header, .vf-modal__content, .vf-modal__footer {
        padding: 2rem 1rem;
      }
    }
  }

  .vf-modal__header {
    background: $color-primary;
    padding: 2rem;
    color: white;

    .vf-modal__heading {
      color: white;
    }
  }

  .vf-modal__heading {
    font-size: 3.2rem;
    margin: 0;
    text-align: center;
  }

  .vf-modal__subheading {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    text-align: center;
    text-transform: uppercase;
  }

  .vf-modal__content {
    position: relative;
    padding: 2rem;
    font-size: 1.4rem;
    background: white;
    color: $color-black;
  }

  .vf-modal__footer {
    border-top: 1px solid $color-grey-light;
    padding: 2rem;
  }

  // Modal variations
  &.vf-modal--sm {
    .vf-modal__panel {
      @media screen and (min-width: 440px) {
        margin: auto;
        width: 42rem;
      }
    }
  }
}
