<template name="home_page">

  <div class="vf-home">
    <header class="hero-panel">
      <nav class="main-navigation">
        <div class="vf-row">
          <div class="vf-col-1-1">
            <a href="/all" class="logo" data-mixpanel-button-name="Logo"><img src="images/home-page/web_img_logo_header.png" alt="Village.fm"></a>
            <a href="/all" class="vf-btn vf-btn-inverse enter-village" data-mixpanel-button-name="Enter Village.fm" target="_blank">Enter Village.fm</a>
          </div>
        </div>
      </nav>
      <div class="vf-row">
        <div class="vf-col-1-1 text-center">
          <h1>Keep your audience by giving them a voice</h1>
          <p>Curate a democratic playlist with your fans to drive engagement and retention for your music brand</p>
        </div>
      </div>
      <div class="vf-row">
        <div class="vf-col-1-1 text-center">
          <button class="vf-btn vf-btn-primary vf-btn-action get-village-btn" data-mixpanel-panel-number="1">Get a village</button>
        </div>
      </div>
      <div class="villages-carousel active-{{activeVillage}}">
        <div class="villages-carousel-links left">
          <a data-item="1" class="active">Okayplayer</a>
          <a data-item="2">Eclectic As Fuck</a>
          <a data-item="3">Soulection</a>
          <a data-item="4">Indieheads</a>
          <a data-item="5">Fresh As Fuck</a>
        </div>
        <div class="villages-carousel-items">
          <div class="villages-carousel-item">
            <img src="images/home-page/screenshots/Okayplayer.png" alt="Okayplayer">
            <div class="villages-carousel-item-overlay">
              <a href="/okayplayer" class="vf-btn vf-btn-inverse-transparent" data-mixpanel-button-name="Screenshot - Okayplayer">Enter Village</a>
            </div>
            <div class="villages-carousel-item-info">
              <p>Okayplayer</p>
              <a href="/okayplayer" data-mixpanel-button-name="Screenshot - Okayplayer">Enter a Village</a>
            </div>
          </div>
          <div class="villages-carousel-item">
            <img src="images/home-page/screenshots/EclecticAsFuck.png" alt="Eclectic As Fuck">
            <div class="villages-carousel-item-overlay">
              <a href="/eclecticasfuck" class="vf-btn vf-btn-inverse-transparent" data-mixpanel-button-name="Screenshot - Eclectic As Fuck">Enter Village</a>
            </div>
            <div class="villages-carousel-item-info">
              <p>Eclectic As Fuck</p>
              <a href="/eclecticasfuck" data-mixpanel-button-name="Screenshot - Eclectic As Fuck">Enter a Village</a>
            </div>
          </div>
          <div class="villages-carousel-item">
            <img src="images/home-page/screenshots/Soulection.png" alt="Soulection">
            <div class="villages-carousel-item-overlay">
              <a href="/soulection" class="vf-btn vf-btn-inverse-transparent" data-mixpanel-button-name="Screenshot - Soulection">Enter Village</a>
            </div>
            <div class="villages-carousel-item-info">
              <p>Soulection</p>
              <a href="/soulection" data-mixpanel-button-name="Screenshot - Soulection">Enter a Village</a>
            </div>
          </div>
          <div class="villages-carousel-item">
            <img src="images/home-page/screenshots/Indieheads.png" alt="Indieheads">
            <div class="villages-carousel-item-overlay">
              <a href="/indieheads" class="vf-btn vf-btn-inverse-transparent" data-mixpanel-button-name="Screenshot - Indieheads">Enter Village</a>
            </div>
            <div class="villages-carousel-item-info">
              <p>Indieheads</p>
              <a href="/indieheads" data-mixpanel-button-name="Screenshot - Indieheads">Enter a Village</a>
            </div>
          </div>
          <div class="villages-carousel-item">
            <img src="images/home-page/screenshots/FreshAsFuck.png" alt="Fresh As Fuck">
            <div class="villages-carousel-item-overlay">
              <a href="/freshasfuck" class="vf-btn vf-btn-inverse-transparent" data-mixpanel-button-name="Screenshot - Fresh As Fuck">Enter Village</a>
            </div>
            <div class="villages-carousel-item-info">
              <p>Fresh As Fuck</p>
              <a href="/freshasfuck" data-mixpanel-button-name="Screenshot - Fresh As Fuck">Enter a Village</a>
            </div>
          </div>
        </div>
      </div>

      <button class="vf-btn vf-btn-inverse vf-btn-round scroll-down">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
    </header>

    <section class="section-1">
      <div class="vf-row">
        <div class="vf-col-1-2 vf-col-xs-1-1">
          <img src="images/home-page/web_ic_wave.png" alt="wave icon" class="icon-wave">
          <h2>
            Social media is too noisy for music discovery...
          </h2>
          <p>Your fans aren’t going to Facebook or Twitter to find new music.
            Don’t let your picks get lost amongst the stream of
            vacation photos and political posts.</p>
        </div>
        <div class="vf-col-1-2 vf-col-xs-1-1">
          <img src="images/home-page/web_img_social_media_noise.png" alt="Social media noise" class="wide-img-right hidden-sm">
          <img src="images/home-page/mobile_img_social_media_noise.png" alt="Social media noise" class="image-responsive visible-sm">
        </div>
      </div>
      <div class="vf-row">
        <div class="vf-col-1-2 vf-col-xs-1-1 float-right">
          <img src="images/home-page/web_ic_wave.png" alt="wave icon" class="icon-wave">
          <h2>
            And your fans have no voice on streaming platforms
          </h2>
          <p>Involve them in the curation process to keep them coming back.</p>
        </div>
        <div class="vf-col-1-2 vf-col-xs-1-1">
          <img src="images/home-page/web_img_streaming_platforms.png" alt="Streaming platforms" class="wide-img-left hidden-sm">
          <img src="images/home-page/mobile_img_streaming_platforms.png" alt="Streaming platforms" class="image-responsive visible-sm">
        </div>
      </div>
      <div class="vf-row">
        <div class="vf-col-1-1 text-center">
          <button class="vf-btn vf-btn-primary vf-btn-action get-village-btn" data-mixpanel-panel-number="2">Get your own village</button>
        </div>
      </div>
    </section>

    <section class="section-2">
      <div class="vf-row">
        <div class="vf-col-1-1 text-center">
          <img src="images/home-page/web_ic_wave.png" alt="wave icon" class="icon-wave">
          <h2>Give your fans a home where their taste matters</h2>
        </div>
      </div>
      <div class="vf-row">
        <div class="vf-col-3-5 vf-col-xs-1-1 float-right">
          <h4 class="text-uppercase text-primary">Submit Songs</h4>
          <img src="images/home-page/web_img_submit_songs.png" alt="Submit songs" class="image-responsive">
          <p>Influencers have full control. Fans can submit songs freely OR influencers
            can approve submissions individually.</p>
          <h4 class="text-uppercase text-primary">Discuss together</h4>
          <img src="images/home-page/web_img_discuss_together.png" alt="Disscuss together" class="image-responsive">
        </div>
        <div class="vf-col-2-5 vf-col-xs-1-1">
          <h4 class="text-uppercase text-primary">Vote on the best music</h4>
          <img src="images/home-page/web_img_vote_on_best_music.png" alt="Vote on the best music" class="image-responsive">
        </div>
      </div>
      <div class="vf-row">
        <div class="vf-col-1-1 text-center">
            <button class="vf-btn vf-btn-primary vf-btn-action get-village-btn" data-mixpanel-panel-number="3">Get your own village</button>
        </div>
      </div>
    </section>

    <section class="section-3">
      <div class="vf-row">
        <div class="vf-col-1-1 text-center">
          <img src="images/home-page/web_ic_wave.png" alt="wave icon" class="icon-wave">
          <h2>Grow an engaged community for any music brand</h2>
        </div>
      </div>
      <div class="vf-row">
        <div class="vf-col-1-1 selection-carousel">
          <div class="selection-carousel-item">
            <img src="images/home-page/web_ic_blog_magazine.png" alt="Blogs">
            <h4>Blogs</h4>
            <p>Keep your readers by involving them in your curation process.</p>
          </div>
          <div class="selection-carousel-item">
            <img src="images/home-page/web_ic_festival_venue.png" alt="Festivals">
            <h4>Festivals</h4>
            <p>Don't let fan engagement end after the show.</p>
          </div>
          <div class="selection-carousel-item">
            <img src="images/home-page/web_ic_your_lable.png" alt="Labels">
            <h4>Labels</h4>
            <p>Drive engagement by making fans feel a part of your label.</p>
          </div>
          <div class="selection-carousel-item">
            <img src="images/home-page/web_ic_channel_page.png" alt="Radio">
            <h4>Radio</h4>
            <p>Drive views and virality by driving user submissions.</p>
          </div>
        </div>
      </div>
      <div class="vf-row">
        <div class="vf-col-1-1 text-center">
          <button class="vf-btn vf-btn-primary vf-btn-action get-village-btn" data-mixpanel-panel-number="4">Get your own village</button>
        </div>
      </div>
    </section>

    <footer>
      <div class="vf-row">
        <div class="vf-col-1-1">
          <img src="images/home-page/web_img_logo_footer.png" alt="Village.fm" class="image-responsive">
          <p><strong>Made with love by your friends at Village</strong></p>
          <div class="social-icons">
            <a href="https://www.youtube.com/channel/UCc1rjSyVwsHGSvC5Q0U0moQ" target="_blank" class="social-icon social-icon-youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/villagedotfm/" target="_blank" class="social-icon social-icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/villagedotfm" target="_blank" class="social-icon social-icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/village-fm?trk=ppro_cprof" target="_blank" class="social-icon social-icon-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="http://instagram.com/village.fm" target="_blank" class="social-icon social-icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <ul class="footer-navigation">
            <li><a href="/all" data-mixpanel-button-name="Home">Home</a></li>
            <li><a href="http://blog.village.fm">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright"><span>&copy; Copyright 2016 | Village.fm Inc</span></div>
      <div class="footer-mixpanel">
        <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
      </div>
    </footer>

    {{> start_village}}
  </div>
</template>
