.vf-community-area {
  position: relative;
  background: white;
  padding: ($header-height + 20px) 30px 10px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;

  // Side menu tranistion
  left: 0;
  right: 0;
  transition: .3s ease;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.vf-community-area__inner {
  width: 100%;
  max-width: 1020px;
  margin: auto;

  > hr {
    float: left;
    margin-top: 0;
  }
}

.vf-community-area__details {
  display: inline-block;
  width: 52%;
  float: left;
}

.vf-community-area__village-name {
  font-size: 43px;
  color: $color-black-strong;
  margin-top: 0;
}

.vf-community-area__village-description {
  font-size: 16px;
  font-weight: 300;
}

.vf-community-area__top-villagers-header {
  margin-top: 15px;

  span {
    color: $color-grey-secondary;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  button {
    float: right;
    color: $color-grey-primary;
    font-weight: 600;
    letter-spacing: 0.7px;

    &:hover {
      color: $color-black;
    }
  }
}

.vf-community-area__top-villagers {
  height: 45px;
  margin-top: 7px;
  counter-reset: villagerNumber;


  &:after {
    display:inline-block;
    width:100%;
    content:'';
  }
}

.vf-community-area__top-villager {
  position: relative;
  display: inline-block;
  margin-right: 22px;
  cursor: pointer;
  padding-bottom: 15px;
  counter-increment: villagerNumber;

  &:last-of-type {
    margin-right: 0px;
  }

  &:after {
    display: block;
    content: counter(villagerNumber);
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 16px;
    right: -4px;
    background: $color-grey-primary;
    border: 1px solid white;
    border-radius: 100%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    color: white;
    font-size: 9px;
    font-weight: 600;
    font-family: "Montserat", sans-serif;
    transition: .2s ease;
  }

  &.active, &:active, &:focus {
    .vf-community-area__top-villager__thumbnail, &:after {
      border-color: $color-primary;
    }
  }

  &:nth-child(1) .vf-community-area__top-villager__image:after {
    content: counter(villagerNumber)"st";
  }

  &:nth-child(2) .vf-community-area__top-villager__image:after {
    content: counter(villagerNumber)"nd";
  }

  &:nth-child(3) .vf-community-area__top-villager__image:after {
    content: counter(villagerNumber)"rd";
  }

  &:nth-child(n+3) .vf-community-area__top-villager__image:after {
    content: counter(villagerNumber)"th";
  }

  .vf-dropdown {
    margin-top: 0;
  }
}

.vf-community-area__top-villager__thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid transparent;
  transition: .2s ease;
}

.vf-community-area__top-villager__image {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  &:after {
    position: absolute;;
    display: block;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%);
    padding: 0 4px;
    background: white;
    border: 1px solid $color-primary;
    border-radius: 8px;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    color: $color-primary;
    font-size: 9px;
    font-weight: 600;
    font-family: "Montserat", sans-serif;
  }

}

.vf-community-area__top-villager__name {
  display: block;
  margin: 15px 0;
  color: $color-black-strong;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.3px;
}

.vf-community-area__top-villager__view-profile {
  display: block;
  margin: auto;
  font-weight: normal;
  font-size: 12px;
}

.vf-community-area__villagers {
  .vf-modal__content {
    max-height: 500px;
    padding-bottom: 30px;
  }
}

.vf-community-area__villager {
  position: relative;
  display: inline-block;
  padding: 10px;

  &:hover {
    z-index: 2;

    .vf-community-area__villager__edit {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.vf-community-area__villager__image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.vf-community-area__villager__badge {
  position: absolute;;
  display: block;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  padding: 0 5px;
  border: 1px solid $color-primary;
  border-radius: 8px;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
  color: $color-primary;
  font-size: 10px;
  font-weight: 600;
  font-family: "Montserat", sans-serif;

  &--primary {
    background: $color-primary;
    color: white
  }

  &--secondary {
    background: white;
    color: $color-primary;
  }
}

.vf-community-area__villager__name {
  display: block;
  margin: 10px 0;
  font-size: 13px;
}

.vf-community-area__villager__edit {
  position: absolute;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 10px;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.12);
  transform: scale(0);
  opacity: 0;
  transition: .2s ease;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  hr {
    margin: 10px 0;
  }
}

.vf-community-area__villager__make-admin {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.6px;
}



.vf-community-area__actions  {
  display: inline-block;
  width: 48%;
  float: right;
  text-align: right;

  p {
    text-transform: uppercase;
    color: $color-grey-secondary;
    margin: 8px 0 15px;
  }
}

.vf-community-area__number-of-villagers {
  font-size: 120px;
  font-weight: 600;
  font-family: "Montserat", sans-serif;
  color: $color-grey-light;
  line-height: 0.75;
}

.vf-community-area__invite {
  position: relative;
  display: inline-block;

  button {
    min-width: 80px;
  }
}

.vf-community-area__copy-link {
  span {
    transition: .2s ease;

    &:nth-child(1) {
      display: block;
      color: $color-grey-primary;

      &:hover {
        color: $color-black;

        i {
          color: $color-primary;
        }
      }
    }

    &:nth-child(2) {
      display: none;
      color: $color-black;

      i {
        color: $color-success;
      }
    }
  }

  &--copied {
    span {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }
}

.vf-community-area__join {
  min-width: 80px;
  text-transform: none;
  margin-left: 6px;

  span {
    display: none;
  }

  &--joined {
    span {
      display: inline;
    }
  }
}

.vf-community-area__edit {
  min-width: 80px;
  text-transform: none;
  margin-left: 6px;
}

.vf-community-area__categories {
  display: inline-block;
  float: left;
  max-width: 75%;
  list-style-type: none;
  vertical-align: middle;
  margin: 0;
}

.vf-community-area__category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 28px;
  margin-right: 30px;
  color: $color-grey-primary;
  transition: .2s ease;

  &:hover, &.active {
    cursor: pointer;
    color: $color-black;
  }
}

.vf-community-area__add-new-category {
  display: inline-block;
  text-transform: uppercase;
}

.vf-community-area__social-links {
  display: inline-block;
  margin-top: -5px;
  float: right;
}

.vf-community-area__edit-village {
  .vf-modal__header {
    background: white;
    text-align: center;
  }

  &--general {
    [data-tab="general"] {
      color: $color-black;
      border-bottom-color: $color-primary;
    }

    .vf-community-area__edit-village__tab--general {
      z-index: 1;
      opacity: 1;
    }
  }

  &--categories {
    [data-tab="categories"] {
      color: $color-black;
      border-bottom-color: $color-primary;
    }

    .vf-community-area__edit-village__tab--categories {
      z-index: 1;
      opacity: 1;
    }
  }

  &--social {
    [data-tab="social"] {
      color: $color-black;
      border-bottom-color: $color-primary;
    }

    .vf-community-area__edit-village__tab--social {
      z-index: 1;
      opacity: 1;
    }
  }
}

.vf-community-area__edit-village__tabs {
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 25px -8px;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    font-weight: 600;
    color: $color-grey-primary;
    cursor: pointer;
    transition: .1s ease;

    &:hover {
      color: $color-black;
    }

    &.active {
      color: $color-black;
      border-bottom-color: $color-primary;
    }
  }
}

.vf-community-area__edit-village__tab {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background: white;
  z-index: -1;
  opacity: 0;

  &--general {
    position: relative;
    padding: 0;

    .vf-input-group:first-of-type {
      background: $color-primary;
      padding: 20px;
      margin: -20px -20px 20px;
    }

    .vf-community-area__edit-village__warning {
      padding: 4px 8px;
      font-size: 10px;
      font-weight: normal;
      color: red;
      float: right;
      border-radius: 20px;
      background: white;
      transition: .2s ease;
      opacity: 0;

      i {
        font-size: 12px;
        vertical-align: middle;
      }

      &.invalid {
        opacity: 1;
      }
    }

    .vf-community-area__edit-village__group-name {
      display: block;
      width: 100%;
      padding: 14px;
      margin-bottom: 20px;
      font-size: 32px;
      text-align: center;
      border: none;
      box-shadow: none;
      background: transparent;
      border-bottom: 1px solid white;
      transition: .2s ease;
      color: white;
      @include placeholder-color(rgba(255,255,255,0.5));

      &.invalid {
        border-bottom-color: red;
      }
    }
  }

  &--categories {
    overflow: hidden;

    .vf-input-group {
      display: inline-block;
      width: 50%;
      float: left;

      &:nth-child(odd) {
        padding-right: 5px;
      }

      &:nth-child(even) {
        padding-left: 5px;
      }

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  &--social {

  }
}
