<template name='header'>
    <header class="header">
      <div class="feedback__wrapper">
          <div class="feedback__contant">
              <form action="">
                  <textarea id="feedback-text" name="" placeholder="Tell us what you think about Village.fm" rows="5"></textarea>
                  <button type="submit" class="btn">Submit Feedback</button>
              </form>
          </div>
        </div>
        <div class="header__inner">
            <div class="header__hum visible-mobile"></div>
            <a href="/" class="header__logo hidden-mobile">
              <img src="images/img_logo_small@3x.png" alt="">
            </a>
            <a href="/" class="header__logo-mobile"></a>
            <div class="header__center-block hidden-mobile">
                 {{> header_village}}
            </div>
            <div class="header__right-block">
                {{#if currentUser}}
                    {{> notifications}}
                    {{> header_profile}}
                {{else}}
                  <div class="header__unloged active">
                      <img src="images/popup/onboarding-facebook-icon.png" alt=""><span>Login </span> <span class="hidden-mobile-inline">with Facebook</span>
                  </div>
                {{/if}}
            </div>
        </div>
    </header>
</template>
