<template name='header'>
  <header class="vf-header">
    <button class="vf-header__menu-btn {{#if showSideMenu}}active{{/if}}">
      <img src="/images/img_menu_logo_normal@3x.png" class="vf-header__logo" alt="Village.fm">
      <img src="/images/img_menu_logo_pressed@3x.png" class="vf-header__logo" alt="Village.fm">
      <span class="vf-dropdown vf-dropdown--left vf-dropdown--trigger-on-hover">
        Discover other villages
      </span>
    </button>

    <div class="vf-header__village">
      <img src="/images/img_header_villagefm@3x.png" class="vf-header__villagefm__text-logo" alt="Village.fm">
      <img src="/images/img_header_villagefm-hover@3x.png" class="vf-header__villagefm__text-logo" alt="Village.fm">

      <!-- Village logo or village name -->
      {{#with currentVillage}}
        {{#if this.image}}
          <img src="/images/img-mobile-topbar-{{villageTopBar}}@3x.png" class="vf-header__village__logo" alt="{{this.name}}">
        {{else}}
          <h2 class="vf-header__village__name">{{this.name}}</h2>
        {{/if}}
      {{/with}}
    </div>

    {{> community_area_categories}}

    <div class="vf-header__nav" role="navigation">
      {{#if currentUser}}
        {{> notifications}}
        {{> header_profile}}
      {{else}}
      <button class="vf-header__log-in">
        <img src="/images/popup/unloged-icon.png" alt="">
        Login / Sign Up
      </button>
      {{/if}}
    </div>
    <!--
    {{#if isMobile}}
      {{> Template.dynamic template=tabs}}
    {{/if}}
    -->
  </header>

  <!--
  {{#if isTuneIn}}
    <div class="tune-in-banner">
      <p class="tune-in-text">
        Vote for your favorite artists performing at Tune In, November 9th-12th. <a href="http://www.tuneintlv.com/tickets" target="_blank" class="tune-in-link">Click Here to Buy Tickets.</a>
      </p>
      <img src="/images/ic_close_banner@3x.png" alt="" class="tune-in-close">
    </div>
  {{/if}}
  -->
</template>
