<template name='playlist'>
  <div class="after-post--overlay"></div>
  <div class="after-post--bg">

  </div>
  <div class="after-post--text">
          <p>&nbsp;Thanks for adding to the playlist!</p>
      </div>
    <div class="sr-playlist sr-playlist{{profilePadding}} {{tuneInPadding}}">
        <ul class="sr-playlist__list bg-color-playlist {{#unless posts}}skeleton{{/unless}}">
            {{#unless loading}}
              {{#each posts}}
                  <li
                    class="sr-playlist__item post-navigation"
                    id="playlist-{{_id}}"
                    data-post-id="{{_id}}"
                    data-village-slug="{{#if villageName}}
                        {{#unless isMainVillage villageSlug}}
                            {{#unless isSubVillage }}
                                {{villageSlug}}
                            {{/unless}}
                        {{/unless}}
                    {{/if}}"
                  >
                      <div class="sr-playlist__left">
                          <div class="upvote-block {{isUpvoted}}">
                              <i class="fa fa-caret-up upvote-block__arrow"></i>
                              <span class="upvote-block__number">{{upvotes}}</span>
                          </div>
                      </div>
                      <div class="sr-playlist__right-btn"></div>
                      <div class="sr-playlist__right">
                          <span class="sr-playlist__play {{playOrPause}}" id={{_id}}></span>
                          <span class="sr-playlist__spinner {{showSpinner}}"></span>
                          {{#if showEqualizer}}
                              <span class="sr-playlist__equalizer"></span>
                          {{else}}
                              <span class="sr-playlist__time">{{duration}}</span>
                          {{/if}}
                      </div>
                      <div class="sr-playlist__middle">
                          <span class="sr-playlist__title">
                              <span class="sr-playlist__artist">{{artist}}</span>
                              - {{title}}
                          </span>
                              <br>
                          <span class="sr-playlist__posted-by">
                          posted by
                              <a href="/profile/{{createdBy}}" class="color-main"><span class="sr-playlist__author">{{getUserName createdBy}}</span></a>
                          </span>
                          {{#if villageName}}
                              {{#unless isMainVillage villageSlug}}
                                  {{#unless isSubVillage }}
                                      <span class="sr-playlist__posted-in">in <a href="/{{villageSlug}}" class="color-main">{{villageName}}</a></span>
                                  {{/unless}}
                              {{/unless}}
                          {{/if}}
                      </div>
                  </li>
              {{/each}}
            {{/unless}}
            {{#if posts}}
              {{#unless postsLoadedDone}}
                <li class="sr-playlist__item skeleton">
                    <div class="sr-playlist__left">
                        <div class="upvote-block">
                        </div>
                    </div>
                    <div class="sr-playlist__right-btn"></div>
                    <div class="sr-playlist__middle">
                        <span class="sr-playlist__title">
                            <span class="sr-playlist__artist">-</span>
                            <span class="sr-playlist__song">-</span>
                        </span><br>
                        <span class="sr-playlist__posted-by">-</span>
                    </div>
                </li>
              {{/unless}}
            {{/if}}
            {{#if loading}}
              {{#each skeletonPosts}}
                <li class="sr-playlist__item skeleton">
                    <div class="sr-playlist__left">
                        <div class="upvote-block">
                        </div>
                    </div>
                    <div class="sr-playlist__right-btn"></div>
                    <div class="sr-playlist__middle">
                        <span class="sr-playlist__title">
                            <span class="sr-playlist__artist">-</span>
                            <span class="sr-playlist__song">-</span>
                        </span><br>
                        <span class="sr-playlist__posted-by">-</span>
                    </div>
                </li>
              {{/each}}
            {{/if}}
        </ul>
    </div>

    <div id="fakeUsersVotingModal" class="modal fade" aria-hidden="true" style="z-index: 999999; top: 50px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        Vote this song
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>Upvoted by:</h4>
                    <div>
                        {{#each postToVote.upvoteObjects}}
                            <small>{{createByName}},</small>
                        {{/each}}
                    </div>
                    <div class="margin-top-15">
                        <select id="fakeUsersVote" class="form-control" multiple="multiple">
                            {{#each fakeUsers}}
                                <option value="{{_id}}">{{profile.name}} - {{profile.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button id="confirmFakeUsersVote" type="button"
                                class="btn btn-success">Vote
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
