<template name='header_profile'>
  <div class="header-profile">
    <span class="header-profile__thumb">
      <img src="images/header-profile-img.png" class="header-profile__img" />
    </span>
    <span class="header-profile__name">
      Jason Smith
      <i class="fa fa-caret-down arrow"></i>
    </span>
    <div class="profile-dropdown">
      <div class="profile-dropdown__top">
        <a href="my-profile.html"><img src="images/header-profile-img.png" class="profile-dropdown__img" /></a>
        <div class="profile-dropdown__name-wrap">
          <a href="my-profile.html" class="profile-dropdown__name">Jason Smith</a>
          <span class="profile-dropdown__caption">
            <span class="color-main">912</span>
            upvotes collected
          </span>
        </div>
        <div class="profile-dropdown__descr">
          <p><a href="#" class="color-secondary-text">86</a> songs posted</p>
          <p><a href="#" class="color-secondary-text">912</a> upvotes collected</p>
        </div>
      </div>
      <div class="profile-dropdown__bottom">
        <p class="profile-dropdown__bottom-row">
          <a href="#" class="color-main profile-dropdown__logout">View Profile</a>
        </p>
        <p class="profile-dropdown__bottom-row">
          <a href="#" class="color-main profile-dropdown__logout">Log Out</a>
        </p>
      </div>
    </div>
  </div>
</template>
