<template name='now_playing_popup'>
  <aside class="now-playing" style="display: none">
      <div class="now-playing__inner">
          <div class="now-playing__top">
              <span class="now-playing__arrow-down"></span>
              <span class="now-playing__view-post">View Post</span>
              <span class="now-playing__heading">Now Playing</span>
          </div>
          <div class="now-playing__main">
              <!--<div class="now-playing__video"></div>-->
              <div class="now-playing__cover"></div>
              <h2 class="now-playing__title">
                  <span class="bold">Bastille</span>
                  - Of The Night
              </h2>
          </div>
          <div class="now-playing__posted-by">
              <div class="now-playing__img-wrapper">
                  <img src="images/jason.png" alt="">
              </div>
              <div class="now-playing__caption">
                  <p class="now-playing__author">
                      <span class="color-main semibold">Jason Chernofsky </span>
                      <span class="color-secondary-text">posted 2 days ago</span>
                  </p>
                  <p class="now-playing__text">
                      Lorem ipsum dolor sit amet, semper at suspend isse
                      donec at lectus velit maec
                  </p>
              </div>
          </div>
          <div class="player">
              <div class="player__progress-bar">
                  <div class="player__range" style="width: 60%"></div>
                  <span class="player__time-start">2:05</span>
                  <span class="player__time-end">4:23</span>
              </div>
              <div class="player__controls">
                  <span class="player__controls__prev"></span>
                  <span class="player__controls__play player__controls__play--paused"></span>
                  <span class="player__controls__next"></span>
              </div>
          </div>
      </div>

  </aside>
</template>
