<template name="side_menu">
  <div class="side-menu">
    <header class="side-menu__village {{#unless activeVillage}}active{{/unless}}">
      <a href="/all">
        <img src="/images/sidebar/img-sidebar-villagefm@3x.png" alt="Village.fm" />
      </a>
    </header>
    <ul class="side-menu__villages">
      {{#each village in villages}}
      <li class="side-menu__village {{#if village.active}}active{{/if}}">
        <a href="/{{village.friendlySlugs.slug.base}}" data-slug={{village.friendlySlugs.slug.base}}>
          <img src="/images/sidebar/img-sidebar-{{village.friendlySlugs.slug.base}}@3x.png" alt="{{village.name}} on Village.fm" />
        </a>
        {{#if village.showNotification}}
        <span class="side-menu__village__new-songs">{{village.newSongs}}</span>
        {{/if}}
        <div class="side-menu__village__pop-over">
          <h4 class="side-menu__village__pop-over__name">{{village.name}} </h4>
          <p class="side-menu__village__pop-over__description">{{village.description}}</p>
          {{#if village.showNotification}}
          <p class="side-menu__village__pop-over__new-songs"><span>{{village.newSongs}}</span> NEW SONGS POSTED</p>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
    <footer class="side-menu__bottom">
      <button class="side-menu__start-village btn" type="button" name="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Start a Village</button>
      {{> side_menu_profile}}
    </footer>
  </div>
</template>
