<template name="community_area">
  <div class="vf-community-area">
    <div class="vf-community-area__inner">
      <div class="vf-community-area__details">
        <h1 class="vf-community-area__village-name">Tune in Tel Aviv</h1>
        <p class="vf-community-area__village-description">
          This group representing the music content from <a href="#">www.tuneintlv.com</a> website.
          Don’t hesitate and join our big friendly community.
        </p>
        {{> community_area_villagers }}
      </div>
      <div class="vf-community-area__join">

      </div>
    </div>
  </div>
</template>
