<template name='sidebar'>
  <aside class="sidebar sidebar{{profilePadding}} {{#if bannerShown}}bannerPadding{{/if}}">
      <div class="sidebar__inner">
        <div class="popup-upvote__wrapper">
          {{#with upvotedSuccess}}
            <div class="popup-upvote popup-upvote--success">
                <img src="/images/popup/after-upvote-success-icon.png" alt=""><p><span>{{artist}} - {{title}}</span> has been added to your profile</p>
            </div>
          {{/with}}
          {{#if upvotedError}}
            <div class="popup-upvote popup-upvote--fail">
                <img src="/images/popup/after-upvote-fail-icon.png" alt=""><p><span>Sorry! Something went wrong. Please, try again later!</span></p>
            </div>
          {{/if}}
        </div>
          {{> controls}}
          {{#unless isTuneIn}}
            {{> Template.dynamic template=tabs}}
          {{/unless}}
          <!-- {{> Template.dynamic template=inbox}} -->
          {{> playlist}}
      </div>
  </aside>
</template>
