<template name="request_village_popup">
  <div class="request-village-popup popup {{#if showRequestVillagePopup}}active{{/if}}">
    <div class="request-village-popup__overlay popup__overlay"></div>
    <div class="request-village-popup__panel popup__panel">
      <div class="request-village-popup__header popup__header">
        <h3>Want to let your community curate a playlist?</h3>
      </div>
      <div class="request-village-popup__content popup__content">

      </div>
    </div>
  </div>
</template>
