<template name="request_village_popup">
  <div class="request-village-popup pop-up {{#if showRequestVillagePopup}}active{{/if}}">
    <div class="pop-up__overlay"></div>
    <div class=" pop-up__panel">
      <div class="pop-up__header">
        <h3>Want to let your community curate a playlist?</h3>
      </div>
      <div class="pop-up__content">
        <form class="request-village-popup__form {{#if invalidEmail}}invalid{{/if}}">
          <input type="email" name="name" placeholder="Enter your email">
          <button type="submit" class="btn {{#if invalidEmail}}disabled{{/if}}">I want a Village</button>
        </form>
      </div>
    </div>
  </div>

  <div class="request-village-success-popup pop-up {{#if showSuccessPopup}}active{{/if}}">
    <div class="pop-up__overlay"></div>
    <div class="pop-up__panel">
      <div class="pop-up__content">
        <h2>Thanks!</h2>
        <p>We will be in touch soon.</p>
        <button class="btn">Got it</button>
      </div>
    </div>
  </div>
</template>
