<template name='bottom_player'>
  <aside class="bottom-player">
    {{#with nowPlaying}}
      <div class="bottom-player__video visible-mobile hidden"></div>
      <div class="bottom-player__inner clearfix">
          <div class="bottom-player__left">
              <div class="bottom-player__rating">
                  <div class="upvote-block {{isUpvoted}}">
                      <i class="fa fa-caret-up upvote-block__arrow"></i>
                      <span class="upvote-block__number">{{upvotes}}</span>
                  </div>
              </div>
              <div class="bottom-player__song-btn">
                  <div class="bottom-player__play bottom-player__play--paused"></div>
              </div>
              <div class="bottom-player__song">
                  <div class="bottom-player__song-img">
                      <img src="{{thumbnail}}" style="width: 36px; height: 36px;">
                  </div>
                  <div class="bottom-player__song-descr">
                      <span
                        class="bottom-player__song-title post-navigation"
                        data-post-id="{{_id}}"
                        data-village-slug="{{#if villageName}}
                            {{#unless isMainVillage villageSlug}}
                                {{#unless isSubVillage }}
                                    {{villageSlug}}
                                {{/unless}}
                            {{/unless}}
                        {{/if}}"
                        >
                        <span class="bold">{{artist}}</span> - {{title}}
                      </span>
                      <br>
                      <span class="bottom-player__song-posted-by color-secondary-text">posted by {{profile.niceName}}</span>
                  </div>
              </div>
          </div>
          <div class="bottom-player__right">
              <div class="bottom-progress-bar">
                  <span class="bottom-progress-bar__time-start hidden-mobile">{{completed}}</span>
                  <span class="bottom-progress-bar__time-finish hidden-mobile">{{duration}}</span>
                  <div class="bottom-progress-bar__line">
                    <input type="range" class="bottom-progress-bar__range" id="bottom-slider">
                    <span class="bottom-progress-bar__range" id="bottom-line" style="width: {{completedPercentage}}%"></span>
                  </div>
              </div>
          </div>
      </div>
    {{/with}}
  </aside>
</template>
