<template name='bottom_player'>
  <aside class="bottom-player">
      <div class="bottom-player__video visible-mobile hidden"></div>
      <div class="bottom-player__inner clearfix">
          <div class="bottom-player__left">
              <div class="bottom-player__rating">
                  <div class="upvote-block upvote-block--active">
                      <i class="fa fa-caret-up upvote-block__arrow"></i>
                      <span class="upvote-block__number">226</span>
                  </div>
              </div>
              <div class="bottom-player__song-btn">
                  <div class="bottom-player__song-more"></div>
                  <div class="bottom-player__play bottom-player__play--paused"></div>
              </div>
              <div class="bottom-player__song">
                  <div class="bottom-player__song-img">
                      <img src="images/bottom-song.png" alt="">
                  </div>
                  <div class="bottom-player__song-descr">
                      <span class="bottom-player__song-title"><span class="bold">Bastille</span> - Of The Night</span>
                      <br>
                      <span class="bottom-player__song-posted-by color-secondary-text">posted by Jason Chernofsky</span>
                  </div>
              </div>
          </div>
          <div class="bottom-player__right">
              <div class="bottom-progress-bar">
                  <span class="bottom-progress-bar__time-start hidden-mobile">2:05</span>
                  <span class="bottom-progress-bar__time-finish hidden-mobile">4:23</span>
                  <div class="bottom-progress-bar__line">
                      <span class="bottom-progress-bar__range" style="width: 60%"></span>
                  </div>
              </div>
          </div>
      </div>
  </aside>
</template>
