<template name='sign_up'>
  <div class="sign-up" style="display: none;">
      <div class="sign-up__inner">
          <h2 class="sign-up__title semibold">
              <span class="color-other-text">Welcome to</span>
              <span class="color-main">Village.fm</span>
          </h2>
          <p class="sign-up__text">
              Enjoy friendly community with a
              perfect music taste!
          </p>
          <a class="sign-up__button">
              <i class="fa fa-facebook"></i>
              <span>Sign up with facebook</span>
          </a>
      </div>
  </div>
</template>
