@import "_community-area-top-villagers";
@import "_community-area-villagers";
@import "_community-area-edit-village";
@import "_community-area-categories";

.vf-community-area {
  position: relative;
  background: white;
  padding: ($header-height + 20px) 30px 10px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;

  // Side menu tranistion
  left: 0;
  right: 0;
  transition: .3s ease;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.vf-community-area__inner {
  width: 100%;
  max-width: 1020px;
  margin: auto;

  > hr {
    float: left;
    margin-top: 0;
  }
}

.vf-community-area__details {
  display: inline-block;
  width: 52%;
  float: left;
}

.vf-community-area__village-name {
  font-size: 43px;
  color: $color-black-strong;
  margin-top: 0;
}

.vf-community-area__village-logo {
  height: 60px;
  width: auto;
}

.vf-community-area__village-description {
  font-size: 16px;
  font-weight: 300;
  min-height: 40px;
}

.vf-community-area__actions  {
  display: inline-block;
  width: 48%;
  float: right;
  text-align: right;

  p {
    text-transform: uppercase;
    color: $color-grey-secondary;
    margin: 8px 0 15px;
  }
}

.vf-community-area__number-of-villagers {
  font-size: 120px;
  font-weight: 600;
  font-family: "Montserat", sans-serif;
  color: $color-grey-light;
  line-height: 0.75;
}

.vf-community-area__invite {
  position: relative;
  display: inline-block;

  button {
    min-width: 80px;
  }
}

.vf-community-area__copy-link {
  span {
    transition: .2s ease;

    &:nth-child(1) {
      display: block;
      color: $color-grey-primary;

      &:hover {
        color: $color-black;

        i {
          color: $color-primary;
        }
      }
    }

    &:nth-child(2) {
      display: none;
      color: $color-black;

      i {
        color: $color-success;
      }
    }
  }

  &--copied {
    span {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }
}

.vf-community-area__join {
  min-width: 80px;
  text-transform: none;
  margin-left: 6px;

  span {
    display: none;
  }

  &--joined {
    span {
      display: inline;
    }
  }
}

.vf-community-area__edit {
  min-width: 80px;
  text-transform: none;
  margin-left: 6px;
}

.vf-community-area__social-links {
  display: inline-block;
  margin-top: -5px;
  float: right;
}

.vf-community-area__add-new-social-link {
  line-height: 28px;
  margin: 5px 0;
}
